<header>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      &nbsp; &nbsp;<i style="font-size: 35px" class='fas fa-leaf'></i> &nbsp;
      <strong style="font-size: 25px">Vegetable Store</strong>
      &nbsp; &nbsp;&nbsp;
      <div class="form-group">
        <input (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
               type="text" class="form-control" placeholder="Search vegetable">
      </div>
      <span class="fas fa-search search-icon"></span>
      <button type="button" class="btn btn-success" (click)="onOpenModal(null, 'add')">Add Product</button>
    </div>
    <button class="btn bg-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <div class="badge bg-danger">3</div>
    </button>
  </div>

</header>
<div class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{product?.img}}" alt=""
                            class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{product?.name}}</h5>
            <p class="m-0">{{product?.description?.status}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Quantity : <a href="#">{{product?.quantity}}</a>
          </li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{product?.price}}.000 {{product?.unit}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Weight : {{product?.description?.weight}} {{product?.description?.type}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Trademark : {{product?.description?.trademark}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Description : {{product?.description?.detail}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(product, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
               data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(product, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
               data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add Vegetable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm, addForm.value, addDescriptionForm, addDescriptionForm.value)">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" ngModel="{{product?.code}}" name="code" class="form-control" id="code" placeholder="Code" required>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{product?.name}}" name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" ngModel="{{product?.quantity}}" name="quantity" class="form-control" id="quantity" placeholder="number" required>
          </div>
          <div class="form-group">
            <label for="price">Price VND</label>
            <input type="number" ngModel="{{product?.price}}" name="price" class="form-control" id="price" placeholder="number" required>
          </div>
          <div class="form-group">
            <label for="img">Image</label>
            <input type="img" ngModel="{{product?.img}}" name="img" class="form-control" id="img" placeholder="text">
          </div>
          <form #addDescriptionForm="ngForm">
            <div class="form-group">
              <label for="weight">Weight Kg</label>
              <input type="number" ngModel="{{addProductDescription?.weight}}" name="weight" class="form-control" id="weight" placeholder="number" required>
            </div>
            <div class="form-group">
              <label for="trademark">Trademark</label>
              <input type="text" ngModel="{{addProductDescription?.trademark}}" name="trademark" class="form-control" id="trademark" placeholder="text" required>
            </div>
            <div class="form-group">
              <label for="detail">Description</label>
              <input type="text" ngModel="{{addProductDescription?.detail}}" name="detail" class="form-control" id="detail" placeholder="text" required>
            </div>
          </form>
            <div class="modal-footer">
              <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProductModalLabel">Edit Product {{editProduct?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editProduct?.name}}" name="name" class="form-control"  aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editProduct?.code}}" name="code" class="form-control" placeholder="Email">
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" ngModel="{{editProduct?.quantity}}" name="quantity" class="form-control" placeholder="number">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" ngModel="{{editProduct?.price}}" name="price" class="form-control" placeholder="number">
          </div>
          <div class="form-group">
            <label for="unit">Unit Price</label>
            <input type="text" ngModel="{{editProduct?.unit}}" name="unit" id="unit" class="form-control" placeholder="text">
          </div>
          <div class="form-group">
            <label for="img">Image</label>
            <input type="text" ngModel="{{editProduct?.img}}" name="img" class="form-control" placeholder="text">
          </div>
          <form #editDescription="ngForm">
            <div class="form-group">
              <label for="weight">Weight</label>
              <input type="number" ngModel="{{editProductDescription?.weight}}" name="weight" class="form-control" placeholder="text">
            </div>
            <div class="form-group">
              <label for="type">Weight Unit</label>
              <input type="text" ngModel="{{editProductDescription?.type}}" name="type" id="type" class="form-control" placeholder="text">
            </div>
            <div class="form-group">
              <label for="trademark">Trademark</label>
              <input type="text" ngModel="{{editProductDescription?.trademark}}" name="trademark" class="form-control" placeholder="text">
            </div>
            <div class="form-group">
              <label for="detail">Description</label>
              <input type="text" ngModel="{{editProductDescription?.detail}}" name="detail" class="form-control" placeholder="text">
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateProduct(editForm.value, editDescription.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Product Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete product {{deleteProduct?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteProduct(deleteProduct?.code)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no products -->
<div *ngIf="products?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO Product!</h4>
    <p>No Products were found.</p>
  </div>
</div>



