<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container" id="loginModel">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
              <div class="form-group input-group mb-3 ">
                <input type="text" ngModel name="login" id="login" class="form-control" placeholder="Username">
              </div>
              <div class="form-group input-group mb-4">
                <input type="password" ngModel name="password" id="password" class="form-control" placeholder="Password">
              </div>
                <div class="col-6">
                  <button [disabled]="loginForm.invalid" id="submit" type="submit" class="btn btn-success px-4">Login</button>
                </div>
            </form>
          </div>
        </div>
        <div class="card text-white bg-success py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>ou'll be getting fresh and crisp vegetables at amazing prices and you'll be supporting a family owned Australian business. If you buy your vegetables online</p>
              <button routerLink="/signup" type="button" class="btn btn-success active mt-3">Register Now!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
