<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-body">
            <h1>Sign Up</h1>
            <p class="text-muted">Sign Up your account</p>
            <form #signup="ngForm" (ngSubmit)="onSignUp(signup)">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ngModel name="login" id="login" type="text" class="form-control" placeholder="Username" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input ngModel name="password" id="password" type="password" class="form-control" placeholder="Password"
                       required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input value="{{confirmPassword}}" type="password" class="form-control" placeholder="Confirm Password" required>
              </div>
              <div class="col-6">
                <button [disabled]="signup.invalid" type="submit" class="btn btn-success px-4">Register</button>
              </div>
            </form>
          </div>
        </div>
        <div class="card text-white bg-success py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Login</h2>
              <p>ou'll be getting fresh and crisp vegetables at amazing prices and you'll be supporting a family owned
                Australian business. If you buy your vegetables online</p>
              <button routerLink="/login" type="button" class="btn btn-success active mt-3">Login Now!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
